body {
  background-color: gray;
  scrollbar-color: #346abf white;
  scrollbar-width: auto;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #1b1a1a;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 100px;
  }
  
  .timeline-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #620101;
    transform: translateY(-50%);
  }
  
  .timeline-content {
    position: relative;
    max-width: 400px;
    padding: 20px;
    background-color: #1d1c1c;
    border-radius: 5px;
  }
  
  .timeline-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .timeline-content p {
    font-size: 16px;
    line-height: 1.5;
  }

p, h3{
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(54, 53, 53);
}

::-webkit-scrollbar-thumb {
  background-color: #780a0a;
}